<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head')%>
    <body>
        <h1>Test Change <%= test %></h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore
            atque eaque odit quisquam ipsa, architecto rem, dolores est ut sequi
            corrupti saepe quod autem doloremque asperiores. Aliquam asperiores
            itaque aut?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quasi
            autem voluptatibus ad hic aliquid deleniti vitae perspiciatis
            veritatis dolores vero nulla, molestiae dolorem voluptas eaque
            necessitatibus odit sed a.
        </p>
    </body>
</html>
