html,body{
    height: 100%;
    width: 100%;
    margin: 0px;
}

.group{
    display: block;
    height: 100%;
    width: calc(100% - 40px);
    margin: 20px;
    padding: 20px;
    background-color: rgb(20,20,200);
    
}

section{
    display: inline-block;
    background-color: rgb(80,80,255);
    border: black solid 1px;

    margin: 20px 10px;
    padding: 20px;
}

#rgba{
    display: block;
    margin: 0px;
    width: 20%;
    height: 20%;
    background-color: rgba(255,100,100,1);
}

div{
    display: inline-block;

    width: 100px;
    height: 100px;
    margin: 10px;

    background-color: black;
}

.middle{
    background-color: rgb(90,255,90);
}

#relative .middle{
    position: relative;
    left: 75px;
    top: 50px;
}

section:nth-of-type(4){
    position: absolute;
}

#absolute .middle{
    position: absolute;
    left: 100px;
    top: 10px;
}


#fixed .middle{
    position: fixed;
    left: 300px;
    top: 10px;
}

/* transitions */
.group:nth-of-type(2):hover div{
    margin-left: 200px;
    transition: 2s;
}

.group:nth-of-type(2) div{
    display: block;
}

.group:nth-of-type(2) div:nth-of-type(1){
    transition-timing-function: ease-in;
}

.group:nth-of-type(2) div:nth-of-type(2){
    transition-timing-function: ease-out;
}

.group:nth-of-type(2) div:nth-of-type(3){
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* Transforms */
.group:nth-of-type(1) h1{
    display: inline-block;
    margin: 10px 100px;
    font-size: 30px;

    width: 8em;
    padding: 10px;
    margin: 10px;
    border-radius: .5em;

    text-align: center;

    background-color: white;
}

.group:nth-of-type(1) h1:nth-of-type(1n){
    background-color: lightseagreen;
}

.group:nth-of-type(1) h1:nth-of-type(2n){
    background-color: lightcoral;
}

.group:nth-of-type(1) h1:nth-of-type(3n){
    background-color: lightgreen;
}

.group:nth-of-type(1) h1:nth-of-type(1){
    transform: rotate(5deg);
}

.group:nth-of-type(1) h1:nth-of-type(2){
    transform: scale(.5);
}

.group:nth-of-type(1) h1:nth-of-type(3){
    transform: translateX(100px);
}

.group:nth-of-type(1) h1:nth-of-type(4){
    transform: translateY(-10px);
}

.group:nth-of-type(1) h1:nth-of-type(5){
    transform: skew(5deg, 10deg);
}

.group:nth-of-type(1) h1:nth-of-type(6){
    transform: rotate(50deg) scale(2) translate(150px, 0px);
}